*{
    margin: 0;
    padding: 0;

}
nav {
    height: 4rem;
    background-color: black;
    color: white;
   display: flex;
   flex-direction: column;
    


}
.nav-options {
    display: flex;
    justify-content: space-between;
    
}
ul li {
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: white;
}