h1 {
    color: red;
    text-align: center;
   
}
h2 {
    color: blue;
    text-align: center;
   
}
h3{
    color: blueviolet;
    text-align: center;
   
}

div {
    width: 500px;
    height:500px;
    background-color: aqua;
    margin: 30px;
    border: 5px solid red;
}